---
layout: location-en.njk
locationSlug: porto-cristo
pageTitle: "Jet Ski Rental in Porto Cristo, Mallorca | JetExperience Baleares"
pageDescription: "Jet ski route to Porto Cristo from Costa de los Pinos. ~12 km of unspoilt coastline, hidden coves and cliffs. Our most adventurous experience. Book via WhatsApp."
pageCanonical: "https://jetexperiencemallorca.com/en/jet-ski-porto-cristo/"
permalink: /en/jet-ski-porto-cristo/
langEs: "https://jetexperiencemallorca.com/jet-ski-porto-cristo/"
langEn: "https://jetexperiencemallorca.com/en/jet-ski-porto-cristo/"
currentLang: en
---
