---
layout: location-en.njk
locationSlug: cala-bona
pageTitle: "Jet Ski Rental in Cala Bona, Mallorca | JetExperience Baleares"
pageDescription: "Rent a jet ski in Cala Bona, Mallorca. 1 km from our base in Costa de los Pinos. Modern Sea-Doo, life jacket included. Book via WhatsApp."
pageCanonical: "/en/jet-ski-cala-bona/"
permalink: /en/jet-ski-cala-bona/
langEs: "/jet-ski-cala-bona/"
langEn: "/en/jet-ski-cala-bona/"
langDe: "/de/jet-ski-cala-bona/"
currentLang: en
---
