---
layout: location.njk
locationSlug: porto-cristo
pageTitle: "Alquiler de Jet Ski en Porto Cristo, Mallorca | JetExperience Baleares"
pageDescription: "Ruta en jet ski hasta Porto Cristo desde Costa de los Pinos. ~12 km de costa virgen, calas escondidas y acantilados. La experiencia más aventurera. Reserva por WhatsApp."
pageCanonical: "https://jetexperiencemallorca.com/jet-ski-porto-cristo/"
permalink: /jet-ski-porto-cristo/
langEs: "https://jetexperiencemallorca.com/jet-ski-porto-cristo/"
langEn: "https://jetexperiencemallorca.com/en/jet-ski-porto-cristo/"
currentLang: es
---
